.expert {
    .containers {
        padding: 100px 0;
        margin: 0;
        height: 750px;
        width: 100%;
        background-image: url("src/compnents/Expert/gradient-dark-blue-futuristic-digital-grid-background.jpg");
        background-size: cover;
        background-position: center;

        // background-color: wheat;

        .top {
            font-family: var(--font-family3);
            font-weight: 500;
            color: #086AD8;
            // background-color: lightcoral;
            font-size: 16px;
            text-align: center;
        }

        .middle {
            font-family: var(--font-family2);
            font-size: 48px;
            font-weight: 600;
            text-align: center;
            // background-color: teal;
            width: 600px;
            margin: auto;
            line-height: 60px;
            padding: 20px 0;
            color: white;

        }

        .bottom {

            display: flex;
            justify-content: center;
            // background-color: lawngreen;

            .carousel {
                width: 1250px;
                height: auto;
                // background-color: brown;
                margin: auto;

            }
        }
    }

}