.footer {
   
    width: 100%;
    background-color: #3C493F;
    height: 500px;
    z-index: 9999; // Ensure the footer stays above other content

    .containerf {
        // background-color: forestgreen;
        display: flex;
        justify-content: space-between;
        padding: 80px 100px;
        color: #C4C5C7;

        .sns {
            width: 250px;

            // background-color: lightcoral;
            .logo {
                padding: 0 0 20px 0;
            }

            img {
                width: 70%;
                padding: 0 0 25px 0;
                font-family: var(--font-family2);
                font-size: 30px;
                font-weight: 550;
            }

            .ph {
                font-family: var(--font-family3);
                font-size: 14px;
                padding: 0 0 15px 0;
                line-height: 30px;

            }

            .medias {
                width: 100px;
                display: flex;
                justify-content: space-between;
                color: blueviolet;

                .facebook {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background-color 0.3s ease;


                    i {
                        color: #086AD8;
                        transition: color 0.3s ease;

                    }

                    &:hover {
                        background-color: #086AD8;

                        i {
                            color: #ffffff;

                        }
                    }
                }

                .twitter {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background-color 0.3s ease;


                    i {
                        color: #086AD8;
                        transition: color 0.3s ease;
                    }

                    &:hover {
                        background-color: #086AD8;

                        i {
                            color: #ffffff;

                        }
                    }

                }

                .linkedin {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: background-color 0.3s ease;


                    i {
                        color: #086AD8;
                        transition: color 0.3s ease;



                    }

                    &:hover {
                        background-color: #086AD8;


                        i {
                            color: #ffffff;

                        }
                    }

                }
            }
        }

        .useful {
            // padding: 20px;
            width: 250px;
            // background-color: cadetblue;

            .head {
                font-family: var(--font-family2);
                font-size: 20px;
                font-weight: 550;
                padding: 40px 0;
            }

            .col {
                font-family: var(--font-family3);
                font-size: 14px;

                a {
                    text-decoration: none;
                    color: #C4C5C7;
                }


                .row {
                    padding: 0 0 10px 12px;


                }

            }
        }

        .ourservices {
            width: 250px;
            // background-color: orangered;

            .head {
                font-family: var(--font-family2);
                font-size: 20px;
                font-weight: 550;
                padding: 40px 0;
            }

            .col {
                font-family: var(--font-family3);
                font-size: 14px;

                .row {
                    padding: 0 0 10px 12px;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }

        .contact {
            width: 250px;
            // background-color: tan;

            .head {
                font-family: var(--font-family2);
                font-size: 20px;
                font-weight: 550;
                padding: 40px 0;
            }

            .col {
                font-family: var(--font-family3);
                font-size: 14px;


                .rowh {
                    padding: 0 0 15px 0;
                    display: flex;
                    justify-content: left;
                    gap: 15px;


                    a {
                        text-decoration: none;
                        color: #C4C5C7;

                        &:hover {
                            color: #086AD8;
                            transition: color 300ms ease;
                        }
                    }



                    i {
                        color: #086AD8;
                    }


                }
            }
        }



    }

    .lastline {
        // background-color: red;
        color: #C4C5C7;
        border-top: 1px rgb(35, 34, 34) solid;
        font-family: var(--font-family3);
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;

    }
}